@import "./src/variables.css";

.chat-container {
  /* border: 1px solid black; */
  min-width: 300px;
  max-width: 400px;
  /* overflow: hidden; */
  position: relative;
}
.message-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* overflow-y: auto; Allow vertical scrolling */
}
.system {
  align-self: flex-start;
  background-color: rgb(69, 115, 255);
  color: white;
}
.user {
  align-self: flex-end;
  background-color: rgb(243, 244, 245);
  color: black;
}
.message {
  position: relative;
  border-radius: 2rem;
  padding-left: 2%;
  padding: 8px;
  margin: 4px;
  max-width: 40%;
  width: fit-content;
}

.message p {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
  overflow: hidden;
  font-size: 1rem;
}

.answers-container {
  gap: 1%;
  margin-top: 5%;
  flex-flow: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: slideInRightToLeft 0.35s ease-in-out;
}
.reset-container {
  gap: 1%;
  margin-top: 3%;
  flex-flow: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: fadeIn 2s ease-in-out;
}

.btn-answer {
  border-radius: 1rem;
  /* color: white;
  background-color: #000000; */
  color: var(--text-color);
  background-color: var(--bg-color);
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  /* margin-top: 1%; */
  margin-bottom: 1.5%;
}
.btn-answer:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: brightness(1.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
.btn-reset {
  display: flex;
  border-radius: 1rem;
  color: white;
  background-color: #705d80;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.btn-reset:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: brightness(1.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

/* CSS for message typing animation: https://dev.to/3mustard/create-a-typing-animation-in-react-17o0 */
.typing {
  width: auto;
  height: auto;
  position: relative;
  padding: 0.625rem; /* 10px */
  border-radius: 1.25rem; /* 20px */
}

.typing__dot {
  float: left;
  width: 0.5rem; /* 8px */
  height: 0.5rem; /* 8px */
  margin: 0 0.25rem; /* 4px */
  /* background: #8d8c91; */
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

/* Apply CSS for spin animation on hover for reset icon */
.btn-reset:hover .reset-icon {
  animation: spin 0.4s 1 linear;
}

/* Animations */
@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideInRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
