.toolkit-container {
  display: flex;
  flex-direction: column;
  max-width: 1750px;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

.toolkit-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 95%;
}
.toolkit-img {
  width: 75px;
  height: 75px;
}
.toolkit-item {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  align-items: center;
}

.skill-icon {
  /* background-color: white; */
  width: 15px;
  height: 15px;
}
@media (max-width: 900px) {
  .toolkit-list {
    width: 90%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
  }
  .toolkit-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 500px) {
  .toolkit-container {
    width: auto;
  }
  .toolkit-list {
    width: 100%;
  }
  .toolkit-img {
    width: 50px;
    height: 50px;
  }
}
