body {
  font-family: Consolas, monaco, monospace;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Light Mode */
  /* background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87); */
  /* Dark Mode */
  /* background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255); */
}

button {
  font-size: 1rem;
  font-family: Consolas, monaco, monospace;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
